<form #formulario="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="name" class="form-control" required>      
    </div>
  
    <div class="form-group">
      <label for="isImportant">Is Important?</label>
      <input type="checkbox" id="isImportant" name="isImportant" [(ngModel)]="isImportant" class="form-check-input">
    </div>
  
    <button type="submit">Agregar Opción</button>
  </form>
  

  